body{
    font-family: Arial;
    text-align: center;
    margin-top: 120px;
}

.container{
    background: #f4f4f4;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
}

select, button{
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button{
    background-color: #28a445;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
